<div class="background">
  @for (row of tiles; track $index; let rowIndex = $index) {
  <div class="row">
    @for (tile of row; track $index) {
      <button 
        class="tile"
        [class.active]="tile.active"
        (click)="ripple(tile.row, tile.col)">
      </button>
    }
  </div>
}
</div>
<div class="black-cover one"></div>
<div class="black-cover two"></div>
<div class="visual-orbit one"></div>
<div class="visual-orbit two"></div>
<div class="orbit one">
  <button class="satellite one constellation"></button>
  <button class="satellite one gamedevblog"></button>
</div>
<div class="orbit two">
  <button class="satellite two guessphrase"></button>
  <button class="satellite two webbedwords"></button>
</div>
<div class="cube-container">  
  <div class="top-container">
    <div class="row">
      <div class="tile gray"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 0.5s"></div>
      <div class="tile gray" style="animation-delay: 0.5s"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 1s"></div>
      <div class="tile gray" style="animation-delay: 1s"></div>
      <div class="tile gray" style="animation-delay: 1s"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 1.5s"></div>
      <div class="tile gray" style="animation-delay: 1.5s"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 2s"></div>
    </div>
  </div>

  <div class="left-container">
    <div class="row">
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 1s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 1.5s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 2s"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 0.5s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 1s"></div>
      <div class="tile gray" style="animation-delay: 1.5s"></div>
    </div>
    <div class="row">
      <div class="tile" style="background-color: rgb(0, 83, 238);"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 0.5s"></div>
      <div class="tile gray" style="animation-delay: 1s"></div>
    </div>
  </div>

  <div class="right-container">
    <div class="row">
      <div class="tile gray" style="animation-delay: 1s"></div>
      <div class="tile gray" style="animation-delay: 1.5s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 2s"></div>
    </div>
    <div class="row">
      <div class="tile gray" style="animation-delay: 0.5s"></div>
      <div class="tile gray" style="animation-delay: 1s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 1.5s"></div>
    </div>
    <div class="row">
      <div class="tile" style="background-color: rgb(0, 83, 238);"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 0.5s"></div>
      <div class="tile" style="background-color: rgb(0, 83, 238); animation-delay: 1s"></div>
    </div>
  </div>
</div>