@property --hue {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.logo {
    position: absolute;

    img {
        position: fixed;
        top: 50%;
        left: 50%;
        width: 225px;
        transition: transform 0.3s;

        --hue: 0deg;
        
        filter: sepia(0) saturate(1) hue-rotate(var(--hue));
        animation:
            color-switch 8s linear infinite,
            grow 4s ease-in-out infinite;

        &:hover {
            filter: sepia(1) saturate(3) hue-rotate(var(--hue));
        }
    }
}

@keyframes color-switch {
    from {
        --hue: 0deg;
    }

    to {
        --hue: 360deg;
    }
}

@keyframes grow {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

button {
    all: unset;
    cursor: pointer;
}

@property --rotate {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

.visual-orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 800px;
    border: 3px solid rgb(61, 61, 61);
    border-radius: 50%;
    pointer-events: none;

    --rotate: 0deg;
    
    transform: translate(-50%, -50%) rotate(var(--rotate));
    animation: orbit-rotate 60s linear infinite;

    &.one {        
        animation-delay: 0s;
    }

    &.two {        
        animation-delay: -15s;
    }
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 800px;
    pointer-events: none;

    --rotate: 0deg;

    transform: translate(-50%, -50%) rotate(var(--rotate));
    animation: orbit-rotate 60s linear infinite;

    &.one {
        animation-delay: 0s;
    }

    &.two {
        animation-delay: -15s;
    }
}

@keyframes orbit-rotate {
    from {
        --rotate: 0deg;
    }

    to {
        --rotate: 360deg;
    }
}

.satellite {
    position: absolute;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 20px 5px rgb(56, 56, 56);
    border-radius: 50%;
    background-color: var(--accent);
    animation: satellite 60s linear infinite;
    offset-path: ellipse(200px 400px at center);
    pointer-events: auto;
    background-size: contain;
    transition: transform 0.5s;

    &:hover {
        transform: scale(1.1);
    }

    &.one {
        &.constellation {
            animation-delay: -30s;
            background-image: url('/projects/constellation.png');
        }

        &.gamedevblog {
            animation-delay: 0s;
            background-image: url('/projects/gamedevblog.png');
        }
    }

    &.two {
        &.guessphrase {
            animation-delay: -30s;
            background-image: url('/projects/guessphrase.png');
        }

        &.photophobia {
            animation-delay: 0s;
            background-image: url('/projects/photophobia.png');
        }
    }
}

@keyframes satellite {
    0% {
        offset-distance: 0%;
    }

    100% {
        offset-distance: 100%;
    }
}
