<button><img class="logo" src="logo.png" alt=""></button>
<div>
    <div class="visual-orbit one"></div>
    <div class="visual-orbit two"></div>
    <div class="visual-orbit three"></div>
</div>
<div class="orbit one">
    <button class="satellite one constellation"></button>
    <button class="satellite one game-dev-blog"></button>
</div>
<div class="orbit two">
    <button class="satellite two guessphrase"></button>
    <button class="satellite two pathfinder"></button>
</div>
<div class="orbit three">
    <button class="satellite three photophobia"></button>
    <button class="satellite three portfolio"></button>
</div>