<div class="background">
  @for (row of tiles; track $index) {
    <div class="background-row">
      @for (tile of row; track $index) {
        <button class="background-tile" [class.active]="tile.active" (click)="ripple(tile.row, tile.col)"></button>
      }
    </div>
  }
</div>
<div class="home-panel">
  <div class="black-cover one"></div>
  <div class="black-cover two"></div>
  <div class="visual-orbit one"></div>
  <div class="visual-orbit two"></div>
  <div class="orbit one">
    <button class="satellite one constellation"></button>
    <button class="satellite one gamedevblog"></button>
  </div>
  <div class="orbit two">
    <button class="satellite two guessphrase"></button>
    <button class="satellite two webbedwords"></button>
  </div>
  <div class="cube-container">
    <div class="top-container">
      <div class="row">
        <div class="tile gray"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 0.5s"></div>
        <div class="tile gray" style="animation-delay: 0.5s"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 1s"></div>
        <div class="tile gray" style="animation-delay: 1s"></div>
        <div class="tile gray" style="animation-delay: 1s"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 1.5s"></div>
        <div class="tile gray" style="animation-delay: 1.5s"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 2s"></div>
      </div>
    </div>
    <div class="left-container">
      <div class="row">
        <div class="tile blue" style="animation-delay: 1s"></div>
        <div class="tile blue" style="animation-delay: 1.5s"></div>
        <div class="tile blue" style="animation-delay: 2s"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 0.5s"></div>
        <div class="tile blue" style="animation-delay: 1s"></div>
        <div class="tile gray" style="animation-delay: 1.5s"></div>
      </div>
      <div class="row">
        <div class="tile blue"></div>
        <div class="tile blue" style="animation-delay: 0.5s"></div>
        <div class="tile gray" style="animation-delay: 1s"></div>
      </div>
    </div>
    <div class="right-container">
      <div class="row">
        <div class="tile gray" style="animation-delay: 1s"></div>
        <div class="tile gray" style="animation-delay: 1.5s"></div>
        <div class="tile blue" style="animation-delay: 2s"></div>
      </div>
      <div class="row">
        <div class="tile gray" style="animation-delay: 0.5s"></div>
        <div class="tile gray" style="animation-delay: 1s"></div>
        <div class="tile blue" style="animation-delay: 1.5s"></div>
      </div>
      <div class="row">
        <div class="tile blue"></div>
        <div class="tile blue" style="animation-delay: 0.5s"></div>
        <div class="tile blue" style="animation-delay: 1s"></div>
      </div>
    </div>
  </div>
</div>
<div id="me" class="panel">
  <div class="title">Me</div>
  <div class="content">This is the content section for Me</div>
</div>
<div id="constellation" class="panel">
  <div class="title">Constellation</div>
  <div class="content">This is the content section for Constellation</div>
</div>
<div id="gamedevblog" class="panel">
  <div class="title">Game Dev Blog</div>
  <div class="content">This is the content section for Game Dev Blog</div>
</div>
<div id="guessphrase" class="panel">
  <div class="title">GuessPhrase</div>
  <div class="content">This is the content section for GuessPhrase</div>
</div>
<div id="webbedwords" class="panel">
  <div class="title">Webbed Words</div>
  <div class="content">This is the content section for Webbed Words</div>
</div>
