:root {
    --background: rgb(27, 27, 27);
    --font-default: rgb(255, 255, 255);
    --orbit-border: rgb(53, 53, 53);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-six) var(--background);
}

body {
    margin: 0;
    color: var(--font-default);
    background-color: var(--background);
    font-family: 'Courier Prime';
    overflow: hidden;
}
