:root {
    --background: rgb(22, 22, 22);
    --font-default: rgb(255, 255, 255);
    --accent: rgb(75, 75, 75);
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-six) var(--background);
}

body {
    margin: 0;
    color: var(--font-default);
    background-color: var(--background);
    font-family: 'Courier Prime';
}